*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
/* navbar-css */
#navbar{
    top:0;
    left:0;
    position:fixed;
    width:100%;
    height: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}
#navbar a{
    padding-right: 60px;
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    display: flex;
}
#navbar a:hover{
    font-weight: bold;
  
    
} 
/* hero section */
.hero-section {
    background-color: #009FBD;
  
    text-align: center;
    height: 100vh;
    width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero-section h1 {
    font-size: 3.5rem;
    color:black;
    
    font-family: 'Lobster', cursive;
   
    z-index: 1;
  }
  .hero-section h1 span{
    color:white;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px #000;
  }
  .hero-section p{
    font-size: 1.2rem;
    color: white;
    font-weight: lighter;
    font-style: italic;
    /* text-shadow: 2px 2px #000; */
    font-family:cursive; 
    z-index: 1;
    text-align: center;
  }
  #title .content .my-img{
    border: 0.4rem solid white;
    border-radius: 50%;
    width:11rem;
    height: 11rem;
  }
/* about section */
#about{
  width: 100%;
  height: 90vh;
  align-items: center;
  text-align: center;
  color:#009FBD;
  margin: 6rem auto 0;
  margin-top:4rem;
  padding:3rem;
}

#about h2.greet{
font-size: 2rem;
margin:3rem;
font-family: 'Lobster', cursive;
}
#about p{
  font-size: 1rem;
  text-align: center;
  text-align: justify;
  margin:auto;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  width:40%;
}
/* portfolio or projects section */
#portfolio{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  padding:3rem;
}
.box{
  margin-top:3rem;
 
}
#portfolio .port-head{
  color: #009FBD;
}
#portfolio .box ul {
  
  text-align: center;
  
}
#portfolio .box a{
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif; 
  color:#009FBD;
}
#projects .card-body a{
  color:white;
}
#projects .card-body a:hover{
  color:black;
}
#projects{

  text-align: center;
  background-color:white;
  color:black;
}
h5{
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: bold;
  line-height:1.5;
}
#projects .row img{
height: 20%; 
width:  10%;
margin:1em;
border: 1.5px solid #f0f0f0;
}
.carousel-item{
  padding:7% 15%;
 
}
p{
  text-align: justify;
}
.card{
background-color: #009FBD;
color:white;
font-family: 'PT Sans Narrow', sans-serif;


}

.port-head{
font-size: 2.5rem;
  text-align: center;
  font-family: 'Lobster', cursive;
  grid-column: 1 / -1; /* Make the heading span across all columns */
  width: 100%; /* Set the width to 100% */
}
/* skills section */
#skills{
  height: 100vh;
  width: 100%;
  background-color: white;
  color:#009FBD;
  font-family: 'Poppins', sans-serif;
  padding:3rem;
}
#skills .skills-head{
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Lobster', cursive;
  grid-column: 1 / -1; /* Make the heading span across all columns */
  width: 100%; /* Set the width to 100% */
  margin:auto 0;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number to specify the desired number of columns */
  grid-gap: 1em; /* Adjust the gap between buttons as needed */
}

.grid-button {
  padding: 0.2rem 0.5rem;
  background-color: #ffff;
  color: #009FBD;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  border:2px solid #009FBD;
  transition: 1s;
 
}
.grid-button:hover{
  transform: scale(0.5,0.5);
  background-color: #009FBD;
  color:#fff;
}



/* Define the animation */
/* @keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
} */

/* Apply the animation to the navbar element */
/* .navbar {
  animation: slide-down 1s 1s forwards;
} */
/* Define the animation */
/* @keyframes slide-up {
  from {
    
    transform: translateY(100%);
  }
  to {
   
    transform: translateY(0);
  }
} */

/* Apply the animation to the heading and paragraph */
/* .heading,
.paragraph {
  animation: slide-up 1s 2s forwards;
} */
